<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710097214805-1bgj48ng14s169mlk3ekg4fe3318ahv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710097214805-1bgj48ng14s169mlk3ekg4fe3318ahv0</string>
	<key>API_KEY</key>
	<string>AIzaSyAwYZWJoegl3tAsgm1-it5kgn9iYIkkOfA</string>
	<key>GCM_SENDER_ID</key>
	<string>710097214805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parvati.coolmobile</string>
	<key>PROJECT_ID</key>
	<string>cool-prod-2e7e2</string>
	<key>STORAGE_BUCKET</key>
	<string>cool-prod-2e7e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710097214805:ios:06fb72227c1adea14f63dc</string>
	<key>DATABASE_URL</key>
	<string>https://cool-prod-2e7e2.firebaseio.com</string>
</dict>
</plist>