<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391043073373-hot3a211lodffkkg344ek6v4pptm4btg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391043073373-hot3a211lodffkkg344ek6v4pptm4btg</string>
	<key>API_KEY</key>
	<string>AIzaSyDX-aDqSbMJjrf1aTydrBGAEwwaUT3aHMU</string>
	<key>GCM_SENDER_ID</key>
	<string>391043073373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parvati.enterprise.cool</string>
	<key>PROJECT_ID</key>
	<string>cool-dev-b3880</string>
	<key>STORAGE_BUCKET</key>
	<string>cool-dev-b3880.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:391043073373:ios:94a80c18d2e50c71dcd4b4</string>
	<key>DATABASE_URL</key>
	<string>https://cool-dev-b3880.firebaseio.com</string>
</dict>
</plist>
